<div class="career_text">
      <p class="career">"Careers"</p>
</div>
<hr>
<div id="career_intro">
          <h3>Vacancy</h3>
          <p>We are a company with lots of innovative ideas and offers a place who are innovative. We are just not
taking interns but a possible vital assets for the company. Being with us you’ll explore new techniques
and standards in automation, deployment, cluster management, and all of the fun aspects. Your work
will be enabling Ruby on Rails developers to configure, deploy and scale a cluster in minutes. You will
be working with some of the best Ruby on Rails developers and under some of the best managers you
have ever met. The office environment is really friendly, open work space, learning made easier with no
pressure, with some practical and some willingness and the ideas are taken from everybody. Working
with us will be first foot step towards your career in IT business.</p>
</div>
<div id="vacancy">
    <h2>For Developer</h2>
    <p><strong>You</strong></br>
You dream of working in a IT company, this can be your first step towards your career. Join us and start
exploring the world of Ruby on Rails with some of the best developers.

We are looking for:
●
Quick Learner
●
Positive attitude towards work and colleagues
●
Take responsibilities for their work.

You’ll get to work in an exciting field, creating new techniques and standards for automation, deployment,
cluster management, and all the fun aspects of Revol-tech Nepal ™. Your work helps enable developers
to configure, deploy and scale their clusters in minutes. And you’ll be doing this while working with some
of the best Ruby on Rails developers in the world.



</br></br>Email us your story (if any), code samples or any work you have done, and your interests.</br></br>

<strong>The Fine Print</strong></br>

Excellent command of written and spoken English</p>
</div>
<div id="vacancy">
    <h2>For Designer</h2>
    <p><strong>You</strong></br>
You enjoy your job. You can change anything into a beauty. You know your tools and you know what other wants. You can innovate ideas into new design and even implement it with no sweat.</br></br>

We keep track of your designs like:</br>
● How innovative you have been</br>
● How well you can play with colors and tools</br>
● How much of your design can be compatible with CSS.</br></br>

Your job itself is a interesting one. You‘ll get to work with great colleagues you can ever have, who can convert work design into a CSS. Your work will helps our developers to make the site look better. You’ll learn how the design effects the site and how to write CSS.

</br></br>Email us your story(if any), Design Samples, github account, and your interests.</br></br>

<strong>The Fine Print</strong></br>

Excellent command of written and spoken English and have some what knowledge about CSS</p></br>

<strong>Email Id : info@revol-tech.com.np</strong>

</div>
