<div class="hero-unit">
<%= render "logo"%>
  <figure class="building">
  <a href="#">
  <%= image_tag "revol_building.png", :class => "building"%>
  </a>
  </figure>
  <div class="banner_text">
    <h1 class="revol">Revol Technology</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      <p>
      <a class="btn primary large">Learn more »</a>
      </p>
      </div>
</div>
