<div class="SnapABug_Button" onclick="SnapABug.startLink();">
<img id="SnapABug_bImg" height="73" border="0" width="35" onmouseout="SnapABug.buttonOut();" onmouseover="SnapABug.buttonOver();" alt="Help" src="http://chtatic.appspot.com/btn/help_right_en.png" style="position: relative; right: -4px;">
</div>
