<footer>
  <div class="container">
    <div class="row">
      <div class="span10">
        <div class="row">
          <div class="span3">
            <h4>Revol-Tech</h4>
            <ul class="unstyled">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="#">Why Revol-Tech?</a>
              </li>
              <li>
                <a href="/home/portfolio">Office Tour</a>
              </li>
              <li>
                  <a href="/home/services">What we do?</a>
              </li>
          </ul>
        </div>
        <div class="span4">
          <h4>More</h4>
          <ul class="unstyled">
            <li>
              <a href="#">Revol-tech Blog</a>
            </li>
            <li>
              <a href="">Office Attendance Software</a>
            </li>
            <li>
              <span class="label success">New</span>
              <a href="#">Project Tracking Software</a>
            </li>
        </ul>
      </div>
      <div class="span3">
        <h4>Company</h4>
        <ul class="unstyled">
         <li>
            <a href="/about">About</a>
          </li>
          <li>
             <a href="mailto:info@revol-tech.com.np">Contact Us</a>
           </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="span6">
    <h4> Subscribe to our newsletter </h4>
    <p> Hear about new features, tips &amp; other updates. </p>
    <form id="newsletter_list_form" target="_blank" name="subscribe-form" method="post" action="">
     <div class="clearfix">
       <input class="span4" type="email" placeholder="email address" name="EMAIL">
       <input class="btn" type="submit" value="Subscribe" name="subscribe">
      </div>
    </form>
  </div>
</div>
</div>
<div id="footer-floor">
<div class="container">
<div class="row">
<div class="span10">
<h3 id="phone"> 977-1-6617807 </h3>
<p>
&copy; 2011
<a title="Revol-Tech - Remarkable web-based software and websites in Nepal" href="http://www.revol-tech.com.np">Revol-Tech, Nepal</a>
. All Rights Reserved. &nbsp;
<a href="#">Terms</a>
&nbsp;&amp;&nbsp;
<a href="#">Privacy</a>
.
</p>
</div>
<div id="elsewhere-msg" class="span3 ar">
<h4>Stay in touch:</h4>
</div>
<div id="elsewhere-icons" class="span3">
<a class="twitter" href="">Twitter</a>
</div>
</div>
</div>
</div>
</footer>
