 <div class="rotator">
    <ul id="rotmenu">
        <li>
            <a href="rot1">e-commerce projects</a>
            <div style="display:none;">
                <div class="info_image">ecommerce.jpg</div>
                <div class="info_heading">e-commerce</div>
                <div class="info_description">
     We build easily customizable and upgradable e-commerce platform using Ruby on Rails that scales with your business needs.With focus on developing and maintaining a platform which will save any business the items they value the most...time, effort, resources and most of all, money.
     <a href="#" class="more">Know more</a>
                </div>
            </div>
        </li>
        <li>
            <a href="rot2">Collaboration Tools</a>
            <div style="display:none;">
                <div class="info_image">collaboration.jpg</div>
                <div class="info_heading">smart office workflow</div>
                <div class="info_description">
    We also build web integrated collaboration tools that allow companies to realize a number of competetive advantages by using their existing infrastructure for group and personal collaboration. These fully featured enviroments...
                    <a href="#" class="more">Know more</a>
                </div>
            </div>
        </li>
         <li>
            <a href="rot3">Media sites</a>
            <div style="display:none;">
                <div class="info_image">media.jpg</div>
                <div class="info_heading">Media sites</div>
                <div class="info_description">
     Having enough experience in high traffic management, we also consider us experts in building high traffic media sites that are able to serve or stream high qualtiy media audio or video ...
                    <a href="#" class="more">Know more</a>
                </div>
            </div>
        </li>
         <li>
            <a href="rot3">RoR Outsourcing</a>
            <div style="display:none;">
                <div class="info_image">ror.jpg</div>
                <div class="info_heading">Rails Outsourcing</div>
                <div class="info_description">
     We are filled with passionate developers who are willing to go the extra mile to develop the best software, give the best service and communication experience. We are honest and reliable.You may consider us a fan club of Ruby on Rails. To know exactly how we are different, you can test-drive us now! ...
                    <a href="#" class="more">Know more</a>
                </div>
            </div>
        </li>
        <li>
            <a href="rot3">Developer on demand</a>
            <div style="display:none;">
                <div class="info_image">dod.jpg</div>
                <div class="info_heading">On demand developer</div>
                <div class="info_description">
    Start in 3 days after Agreement is concluded. Get your start up any number of developers you want to hire, Perhaps an elastic employee number eases out many of the start-up issues, Or so we believe ...
                    <a href="#" class="more">Know more</a>
                </div>
            </div>
        </li>

    </ul>
    <div id="rot1">
        <img src="" width="800" height="300" class="bg" alt=""/>
        <div class="heading">
            <h1></h1>
        </div>
        <div class="description">
            <p></p>
        </div>
    </div>
</div>
