<div class="nav">
  <ul>
    <li class="date">
      Happy Tuesday.
    </li>
    <li class="#">
    </li>
    <li>
      <a href="#">Revol tech Suite</a>
    </li>
    <li>
      <a href="#">Company Blog</a>
    </li>
    <li>
      <a href="#">Our story</a>
    </li>
    <li>
      <a href="#">Follow us on twitter  </a>
    </li>
    <li>
      <a href="#">Sign in</a>
    </li>
  </ul>
  <hr>
</div
