<div class="about_text">
<p class="aboutus">"About us"</p>
</div>
<hr>
<div>
      <div class="about">
          <p>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Revol-Tech Nepal is based in Sallaghari, Bhaktapur.It was founded to provide businesses of all sizes with affordable, clean and effective web page design and custom web design , and to take the businesses to Internet. Our firm is also dedicated to educating our customers on the many facts of getting a complete custom web site that works for the promotion of the business.</br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We just don't build a website but a media to promote a business through Internet.
Our company specializes in developing web design and is also dedicated to maintaining the highest standards for your company's needs for a professional web site design. This can only be done with great employees willing to go the extra mile. All custom web design is guaranteed and is given the utmost attention through each phase of the custom design and web development. </br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h2>The jobs preformed by us are:</h2>
          </p>
      </div>
      <div class="about">
            <div>
            <h3>
            E-Commerce Business
            </h3>
            <p>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We help you to open up your business to the world.
   Our E-commerce solutions are user-friendly, provided
   with an easy and secure checkout, and best of all...<a href="/home/services">Read more</a>
            </p>
            </div>
            <div class="about">
            <h3>
            Collaboration Tools
            </h3>
            <p>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We provide you different collaborating tools which allows distributed teams to collaborate on developing and managing software projects, with central task, issues and schedule management...<a href="/home/services">Read more</a>
            </p>
            </div>
            <div class="about">
            <h3>
            Media Site
            </h3>
            <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A media sites services is an online service, platform, or site that focuses on building and reflecting of social networks among people. A social network service consists of a representation of each...<a href="/home/services">Read more</a>
            </p>
            </div>
            <div class="about">
            <h3>
            ROR Outsourcing
            </h3>
            <p>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ruby on Rails (RoR) is a free open source web development framework based on MVC with Ruby language to develop rapidly data-driven web applications...<a href="/home/services">Read more</a>
            </p>
            </div>
            <div class="about">
            <h3>
            Developer on Demand
            </h3>
            <p>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Outsourcing your technology services is a cost-effective way for you to leverage qualified, experienced and reliable our technology experts...<a href="/home/services">Read more</a>
            </p>
            </div>
      </div>

</div>
