<div class="port_text">
<p class="port_folio">"Portfolio"</p>
</div>
<hr>
<div class="portfolio">


    <div class="sub_portfolio">
        <p>
        <strong>
        <a href="http://wscl.com.np"data-show-count="false" data-width="200px" TARGET="_blank">wscl</a>
        </strong>

        </p>
        <p>
        <a href="http://wscl.com.np"data-show-count="false" data-width="200px" TARGET="_blank">
        <%=image_tag "wscl.jpg", :class=>"port_image",:alt=>"wscl" %>
        </a>
        </p>
    </div>

    <div class="sub_portfolio1">
        <p>
        <strong>
        <a href="http://malainebirseu.com.np"data-show-count="false" data-width="200px" TARGET="_blank">malai nabirseu</a>
        </strong>

        </p>
        <p>
        <a href="http://malainebirseu.com.np"data-show-count="false" data-width="200px" TARGET="_blank">
        <%=image_tag "malai.jpg", :class=>"port_image", :alt=>"malai nabirseu" %>
        </a>
        </p>

    </div>
    <div class="sub_portfolio2">
        <p>
        <strong>
        <a href="#"data-show-count="false" data-width="200px" TARGET="_blank">Project tracker</a>
        </strong>

        </p>
        <p>
        <a href="#"data-show-count="false" data-width="200px" TARGET="_blank">
        <%=image_tag "project_t.png", :class=>"port_image",:alt=>"wscl" %>
        </a>
        </p>
    </div>

</div>
