<div class="port_text">
<p class="port_folio">"Portfolio"</p>
</div>
<hr>
<div class="portfolio">

		<div class="image">
    <div class="sub_portfolio">
        <p>
        <strong>
        <a href="http://mahilasahayogi.com.np"data-show-count="false" data-width="200px" TARGET="_blank">mahila sahayogi</a>
        </strong>
        </p>
        <p>
        <a href="http://mahilasahayogi.com.np"data-show-count="false" data-width="200px" TARGET="_blank">
        <%=image_tag "wscl.jpg", :class=>"port_image",:alt=>"mahilasahayogi" %>
        </a>
        </p>
        <p>This is the website of finance company which is mainly focused for the development of women in business sector</p>

    </div>

    <div class="sub_portfolio1">
        <p>
        <strong>
        <a href="http://malainebirseu.com.np"data-show-count="false" data-width="200px" TARGET="_blank">malai nabirseu</a>
        </strong>
        <p>
        <a href="http://malainebirseu.com.np"data-show-count="false" data-width="200px" TARGET="_blank">
        <%=image_tag "malai.jpg", :class=>"port_image", :alt=>"malai nabirseu" %>
        </a>
        <p>This is the website of NGO which is dedicated to welfare of Orphans
        </p>
        </p>

    </div>
    </div>
    <div>
    <div class="sub_portfolio2">
        <p>
        <strong>
        <a href="#"data-show-count="false" data-width="200px" TARGET="_blank">Project tracker</a>
        </strong>
        <p>
        <a href="#"data-show-count="false" data-width="200px" TARGET="_blank">
        <%=image_tag "project_t.png", :class=>"port_image",:alt=>"project tracker" %>
        </a>
        </p>
        <p>This is the web app for managing projects which is currently under construction
        </p>
    </div>

		<div class="sub_portfolio3">
        <p>
        <strong>
        <p>Admin Interface</p>
        </strong>
        <p>
        <a href="#"data-show-count="false" data-width="200px" TARGET="_blank">
        <%=image_tag "admin.png", :class=>"port_image",:alt=>"admin" %>
        </a>
        </p>
        <p>
        </p>
    </div>
    </div>
</div>
