<div class="port_text">
<p class="port_folio">"Portfolio"</p>
</div>
<hr>
<div id="portfolio">


<div class="sub_portfolio">
<p>
<strong>
<a href="http://wscl.com.np"data-show-count="false" data-width="200px" TARGET="_blank">wscl</a>
</strong>

</p>
<p>
<a href="http://wscl.com.np"data-show-count="false" data-width="200px" TARGET="_blank">
<%=image_tag "wscl.jpg",:alt=>"wscl" %>
</a>
</p>
</div>
<div class="sub_portfolio1">
<p>
<strong>
<a href="http://malaineberseu.com.np"data-show-count="false" data-width="200px" TARGET="_blank">malai nabirseu</a>
</strong>

</p>
<p>
<a href="http://malaineberseu.com.np"data-show-count="false" data-width="200px" TARGET="_blank">
<%=image_tag "malai.jpg",  :alt=>"malai nabirseu" %>
</a>
</p>

</div>

</div>
