<div class="developer_name">
   <h3> <%= current_user.name %></h3>
</div>
<%route=request.url%>
<%= link_to "Inbox" , projects_message_display_path(:back=>route),:style=>"margin:30px 0 0 244px;float:left;"%>
<%= link_to "Time track" , new_time_tracking_path(:back=>route),:style=>"margin:30px 0 0 244px;float:left;"%>
<div class="involved_project">
<h4>Involved Projects</h4>
<%name={"Shobhab shrestha" => "Logic-Seeker",
		 "Kapil raj nakhwa"=>"xecutioner",
		 "Anup kakshpati"=>"kakshpati",
		 "Julfiquar ali ahmed"=>"julfikar",
		 "Shivan jung thapa"=>"shiv1j",
		 "Niraj shakya"=>"chucha",
		 "Ramesh dhami"=>"dhami",
		 "Kuber aaganja"=>"aaganja",
		 "Niraj pradhan"=>"nfloyd",
		 "Julfiquar ali ahmed"=>"Julfikar"
			}

%>



<% @project.each do |t|%>
    <% @github = Github.new :login => 'revol-tech', :password => 'bhaktapur11' %>
      <%(@github.repos.collaborators 'revol-tech', t.repo).each do |a|%>

      	<%if name.has_key?(current_user.name)%>
      		<% value = name[current_user.name]%>
      	<%end%>
        <%if value == a.login %>
          <%=link_to ((@github.repos.get_repo('revol-tech',t.repo)).name),project_path(t.id)%>
        <%end%>
     <%end%>

  </br>
  <%end%>

</div>
