<div id="signin" style="height:370px;float:left;display:block;width:100%;">
<%unless @projects.empty? %>
  <%@projects.each do |p| %>
    <%= p.title%>
  <% end %>
<%else%>
    <span class="label custom-label-info label-info"> You Have No Projects Yet!</span>
<%end%>
</div>
