<% github = @project.initialize_github%>
<h3>Project : <%=@project.repo %></h3>
<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
  <li><a href="#developers" data-toggle="tab">Developers assigned</a></li>
  <li><a href="#tickets" data-toggle="tab">Tickets</a></li>
  <li><a href="#milestones" data-toggle="tab">Milestones</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="description">
    <%= @project.description%>
  </div>
  <div class="tab-pane" id="developers">DEVELOPER LIST GOES HERE</div>
  <div class="tab-pane" id="tickets">Issues are listed here</div>
  <div class="tab-pane" id="milestones">milestones are listed here</div>
</div>

<script>
  $(function () {
    $('.tabs a:last').tab('show')
  })
</script>
