// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.custom-label-info{
  background-color:#2D6987;
  margin-left:36%;
}

.custom-label-info:hover{
  background-color:#BFBFBF;
}
