// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about h3{
 color:#336699;
}
.about h2{

}
#services{
float:left;

}
p.service_text{
 color: #232323;
    font-family: 'Tangerine',serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    margin: 1% 40% !important;
    text-shadow: 4px 4px 4px #AAAAAA;
    }
#service_intro{
float:left;
   width:800px;
   margin:0 0 0 60px;
   text-align:justify;
}
#service_intro h3{
   color:#3f87b7 !important;
   margin-left:130px;
}
#ror,#collaboration,#developer{
 background: none repeat scroll 0 0 #646464;
    border-radius: 10px 10px 10px 10px;
    float: left;
    height: 300px;
    margin: 30px 0 0;
    padding: 0 25px;
    text-align: justify;
    width: 400px;

}
#e_commerse h3,#collaboration h3,#media_sites h3,#ror h3,#developer h3,#cms h3{
  color:#31b3ff;
  margin:5px 0 0 0px;

}
#e_commerse p,#collaboration p,#media_sites p,#ror p,#developer p,#cms p{
 color:#fff;

}
#media_sites,#e_commerse,#cms{
 background: none repeat scroll 0 0 #646464;
    border-radius: 10px 10px 10px 10px;
    float: left;
    height: 300px;
    margin: 30px 0 0 30px;
    padding: 0 25px;
    text-align: justify;
    width: 400px;

}
