.user_display{
	margin:0 0 10px 10px;
	width:320px;
	font-size:16px;
	list-style:none;
	float:left;
}
#project_management{
   width:700px;
   float:left;
   margin:30px 0 0 225px;

}
#project_management h3{
 margin-left:42px;
 margin-bottom:10px;
}
#project_management li{
  width:160px;

}
.topbar div > ul .active > a, .nav .active > a{
background:#fff !important;
}
#user_display span{
 float:left;
 display:block;
 width:120px;
height:30px;
}
